h1 
{
    position: relative;
    color:red !important;
}
h1::before
{
    content:'ДО'; 
}
h1::after 
{
    content:'ПОСЛЕ';
}
h1::first-letter
{
    color: blue;
}
h1::first-line
{
    padding-left: 50px;
}

.title
{
    font-size: 50 px;
} 
.page-title
{
    font-size: 20 px;
}
.page-title
    #title{
        border:1px solid green;
    }
